<div class="sliderStyle pt-4">
    <h5>Products</h5>
    <ul class="list-unstyled mb-2">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/products']">All ({{lengthProducts}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/three-tools']">Simple Tools ({{lengthProductsSimple}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/complex-tools']">Complex tools ({{lengthProductsComplex}})</a>
          </li>
    </ul>
</div>