<div class="container pt-4 parentDiv">
    <div class="d-flex justify-content-between">
        <h3>Products</h3>
        <button class="btn btn-warning btnWarnSync">Sync</button>
    </div>
    <div class="row ">
        <div *ngFor="let homeProduct of homeProducts" class="col-md-3 text-center box mt-4">
            <!-- <h1>{{homeProduct.id}}</h1> -->
            <div class="contentBox ">
                <div class="d-flex justify-content-center w-100 bg-light ">
                    <img class="w-100" [src]="homeProduct.imageUrl" />
                </div>
                <button class="btn btn-info btnCard">Sync</button>
            </div>
            <div class="card contentBoxDetials pt-2">
                <h5>{{homeProduct.name}}</h5>
                <p class="price">${{homeProduct.price}}.00</p>
            </div>

        </div>
    </div>
</div>